<footer class="footer jh-footer" role="contentinfo">
  <p class="jh-footer-content">
    <span class="jh-item">Maintained by <a href="https://juherr.dev/" rel="noopener">Julien Herr</a></span>
    <span class="jh-separator">-</span>
    <span class="jh-item"><a href="mailto:ocpi@juherr.dev">ocpi@juherr.dev</a></span>
    <span class="jh-separator">-</span>
    <span class="jh-item"><a href="https://github.com/juherr/ocpi-doc" rel="noopener">Source code</a></span>
  </p>
</footer>
